body,html{
    height:100%;
    margin:0;
    padding:0;
}
.total{
    background-image: url("./backimgorg1.jpg");
    height:100%;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
}
.todo_value{
    outline:none;
    border:none;
    color:black;
    background-color: aqua;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight:bold;
    font-size:70px;
    flex-grow:1;
    border-bottom:2px solid;
}
.todo:has(.todo_checkbox:checked)
{
    color:maroon;
    background-color:rgb(91, 165, 165);
    text-decoration:line-through 8px;
}
.todo button:hover{
    background-color: black;
    color:deepskyblue;
}
.todo button{
    background-color:black;
    color:white;
}
ul li{
    color:aqua;
    display:inline;
}
.bod{
    height:100%;
    width:175vh;
    justify-content: center;
    align-items: center;
}
.todo{
    text-align: center;
    display:flex;
    padding:15px;
    gap:17px;
}
.todo .todo_checkbox{
    height:auto;
    width:70px;
}
.cont{
    flex-direction:column;
    height:100%;
    width:1400px;
    justify-content: center;
    margin:auto;
    display:flex;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-right:1500px;
}
nav{
    display: flex;
    align-items: right;
    justify-content: flex-end;
    padding:14px;
}
ul{
    display: flex;
    gap:80px;
    padding-right: 70px;
    font-size:65px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.cont h2{
    font-size:105px;
    color:white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
img{
    position:fixed;
    top: 120px; /* Adjust as needed */
    left: 230px; /* Adjust as needed */ /* Adjust as needed */
}
a{
    text-decoration: none;
}
